html,body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/pattern-g81f09ee1a_1920.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.nobsgutterx {
  --bs-gutter-x: 0;
}

.header--menu {
  @extend .nobsgutterx;
  list-style-type: none;
}

.header--menu {
  li {
    a {
      margin-right: 20px;
    }
  }
}

@mixin flex-content-items-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  @include flex-content-items-center;
}

.background--image {
  background-image: url("../images/IMG_1584.JPG");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}

.background--image {
  h1 {
      margin-top: 0;
  }
}

.footer--content {
  display: flex;
  justify-content: start;
}

.cart--btn {
  position: fixed;
  width: 125px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background-color: yellow;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  z-index: 100;
}

.cart--btn:hover {
  text-decoration: none;
  color: yellow;
  background-color: #fff;
}