@import "variables";
@import "estructura";
@import "colores";
@import "tipografia";
@import "animaciones";
@import "tarjeta";

@media screen and (max-width:500px) {
  .background--image {
    background-image: url("../images/IMG_1584.JPG");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px; }

  .footer--content {
    display: flex;
    justify-content: center;
  }
}

#productsContainer {
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  max-width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

.card-color {
  background-color: bisque;
}

.cart-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: end;
  align-items: start;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.cart-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.cart {
  position: relative;
  background-color: white;
  border: 3px solid rgb(123, 51, 111);
  min-width: 500px;
  padding: 20px;
  height: 100%;
  /* margin-top: -100%; */
  transition: all 0.5s;
}

.cart-active .cart {
  margin-top: 0;
}

.cart h1 {
  padding-bottom: 5px;
}

.cart #cartClose {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: rgb(225, 76, 65);
  border: none;
  background-color: white;
}
.cart #cartClose:hover {
  cursor: pointer;
}
.cart #cartClose:focus {
  outline: none;
}
.cart .productPrice {
  padding-top: 10px;
}

.productInCart {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  color: black;
}

.btn-delete {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.btn-delete:hover {
  cursor: pointer;
}
.btn-delete:focus {
  outline: none;
}

#finish {
  display: flex;
}

.container--compra {
  width: 100%;
  max-width: 75%;
  margin: 0 auto;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: beige;
  border: 2cm;
}

.table-title {
  text-align: center;
}

.padding-table {
  padding-bottom: 20px;
}

th {
  font-weight: bold;
  font-size: 25px;
}